.WeatherForecast {
  text-align: center;
  margin-top: 45px;
}

.WeatherForecast .ForecastIcon {
  margin: 7px;
  margin-left: -32px;
}

.WeatherForecast .ForecastTemp {
  color: #191970;
}

.WeatherForecast .ForecastDay,
.WeatherForecast .ForecastTemp {
  font-size: 18px;
}

.WeatherForecast .ForecastDay,
.WeatherForecast .MinTemp {
  opacity: 0.8;
}

@media (max-width: 420px) {
  .WeatherForecast .ForecastIcon {
    margin-left: 18px;
  }

  .WeatherForecast .col {
    margin-top: 23px;
  }
}
